rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      function isAuthenticated() {
        return request.auth != null;
      }

      function isValidFile() {
        return request.resource.size <= 5 * 1024 * 1024
          && (
            request.resource.contentType.matches('application/pdf') ||
            request.resource.contentType.matches('image/jpeg') ||
            request.resource.contentType.matches('image/png')
          );
      }

      function hasUploadPermission() {
        return isAuthenticated() && 
          (request.resource.metadata.role == 'owner' ||
           request.resource.metadata.role == 'subscriber' ||
           request.resource.metadata.role == 'collaborator');
      }

      // Permitir lectura sin restricciones de CORS
      allow read;
      
      // Permitir escritura solo con autenticación y permisos
      allow write: if isAuthenticated() && hasUploadPermission() && isValidFile();
    }
  }
}